@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    background-color: #fefce8;
    color: #713f12;
  }
}

@layer utilities {
  .font-mono-custom {
    font-family: 'JetBrains Mono', 'Fira Code', monospace;
  }
}
