@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    background-color: #fef2f2;
    color: #7f1d1d;
  }
}

@layer utilities {
  .font-mono-custom {
    font-family: 'JetBrains Mono', 'Fira Code', monospace;
  }
}
